img{
    width: 275px;
}
p{ color:red;
}
body{background-color:yellow;
}
h1{ 
    color:red;
}
h1{
    font-family: 'Pattaya', sans-serif;
}
h2{
    font-family: 'Comfortaa', cursive;
}
h3{
    font-family: 'Righteous', cursive;
}
h4{
    font-family: 'Patrick Hand', cursive;
}
h5{
    font-family: 'Josefin Sans', sans-serif;
}